@charset  "UTF-8";

.showcase {
    width: 50%;
    height: 50%;
    position:relative ;
}
.showcase  {
    width: 100%;
    height: 50%;
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    text-decoration: none;
    box-shadow: 2px 1px  6px 6px rgba(0, 0, 0, 0.322);
}
.title {
    width: 100%;
    height: 15%;
    font-size: 50px;
    color:black;
    mix-blend-mode: multiply;
    margin: 10px;
   margin: auto ; 
}
h1 {
    text-align: center;
}
h2 {
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    font-size: 25px;
    color: white;
}
html {
    padding:3rem;
    background-color: #212123d2;
    color: #efefef;
}
#imagem {
   border-radius: 10%;
   width: 200px;
   margin: auto;
   display: flex;
   box-shadow: 2px 1px 6px 6px rgba(255, 255, 255, 0.288);
   margin-top: 20px;
  
}
.slider {
    margin: 0 auto;
    width: 690px;
    height: 320px;
    overflow: hidden;
   
}
.slides {
    width:400%;
    height: 320px;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    width: 230px;
    position: relative;
}
.slide img {
    width: 200px;
    
}
.manual-navgation {
    position: absolute;
    width: 700px;
    margin-top: -40px;
    display:flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius:10px;
    cursor: pointer;
    transition: 0.5s;
}
.manual-btn:not(:last-child) {
    margin-right: 20px;
}
.manual-btn:hover {
    background-color: white;
}
#radio1:checked ~  .first{
    margin-left: 5px;
}
#radio2:checked ~  .first{
    margin-left: -25%;
}
.navigatiom-auto div {
    border: 2px 2px 1px 1px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.navigation-auto {
    position: absolute;
    width: 700px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child) {
        margin-right: 30px;
}

#produtos{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    text-align: center;
}

#carrinho{
    max-width: 900px;
    margin: 10px;
    padding: 0 2%;
    display: block;
    height: 30px;
}        

.produto-single{
    width: 365px;
    padding: 50px;
}